beautifulsoup4>=4.4.1,<4.5
django==1.8.10
django-nose>=1.4.2,<1.5
lxml>=3.5.0,<3.6
netaddr>=0.7.18,<0.8
psycopg2>=2.6.1,<2.7
pytz
requests>=2.9,<3.0
solrpy>=0.9.7,<1.0
xlrd>=0.9.4,<1.0
xmltodict<=0.10
