button {
  border-width: 0px;
  color: white;
  box-shadow: none;
  text-decoration: none;
  font-size: .9em;
  line-height: 1em;
  padding: .45em .4em .4em;
  background: #0088cc;
  border-radius: .2em;
  margin-top: .2em;
}
