{% load humanize %}

{% if response.matches %}
<ul id='books-media' class='unstyled'>
    {% for match in response.matches %}
    <li class='item'>
        <a href='{{ match.url }}' title='{{ match.name }}'>
            {{ match.name|truncatechars:context.TITLE_DISPLAY_LENGTH }}
        </a>
        <p>
        {% if match.description %}
            {{ match.description|truncatechars:context.DESCRIPTION_DISPLAY_LENGTH }}
            <br>
        {% endif %}
        {% if match.publisher %}
            {{ match.publisher }}
            <br>
        {% endif %}
        {% if match.edition %}
            {{ match.edition }}
            <br>
        {% endif %}
        </p>
    </li>
    {% endfor %}
</ul>
<p>
    <i class='icon-arrow-right'></i>
    <a href='{{ response.more_url }}'>See {% if response.count_total > 1 %} all {% endif %}{{ response.count_total|intcomma }} match{{ response.count_total|pluralize:"es" }}</a>
</p>
{% else %}
<p>
    <i>No books or media results found.  Please try another search in the <a href='{{ response.more_url_plain }}'>catalog.</a>
    </i>
</p>
{% endif %}
