<!doctype html>
<html>
    <head>
        <title>D3 Test</title>
        <script src="http://d3js.org/d3.v3.min.js"></script>
    </head>

    <body>
        <svg width="550" height="550">
        </svg>
        <script>
            var width = 550;
            var height = 550;

            var color = d3.scale.category10();

            var canvas = d3.select("svg").
                append("g")
                    .attr("transform", "translate(50,50)");

            var pack = d3.layout.pack()
                .size([width-50, height-50])
                .padding(5);

            d3.json("topsearches_json?last_n_days=25&top_n_searches=25",
            function(data) {

                var nodes = pack.nodes(data);

                var node = canvas.selectAll("node")
                    .data(nodes)
                    .enter()
                    .append("g")
                        .attr("class", "node")
                        .attr("transform", function(d) {
                            return "translate(" + d.x + "," + d.y + ")";});

                node.append("circle")
                    .attr("r", function(d) { return d.r; })
                    .attr("fill", function(d) { return d.children ? "none" :
                        color(d.name)})
                    .attr("opacity", 0.5)
                    .attr("stroke", "#ADADAD")
                    .attr("stroke-width", "2");

                node.append("text")
                    .text(function(d) { return d.children ? "" :
                        d.name.substring(0, d.r/3); })
                    .attr("font-family", "sans-serif")
                    .attr("font-size", "12")
                    .attr("text-anchor","middle");

                console.log(nodes);

            })

        </script>
    </body>
</html>

