{% load humanize %}

{% if response.bbmatches %}
<script type='text/javascript'>
$('#bestbets-title').show(0)
</script>
<ul id='summon' class='unstyled'>
    {% for match in response.bbmatches %}
    <li class='item'>
        <a href='{{ match.url }}' onclick="window.open(this.href); return false;">
            {{ match.title|truncatechars:context.TITLE_DISPLAY_LENGTH }}
        </a>
        {% if match.description %}
            <br>
            {% autoescape off %}
            {{ match.description|striptags }}
            {% endautoescape %}
        {% endif %}
    </li>
    {% endfor %}
</ul>
</hr>
{% endif %}
