{% load humanize %}

{% if response.bbmatches %}
<h4>Best Bets</h4>
<ul id='summon' class='unstyled'>
    {% for match in response.bbmatches %}
    <li class='item'>
        <a href='{{ match.url }}'>
            {{ match.title|truncatechars:context.TITLE_DISPLAY_LENGTH }}
        </a>
        {% if match.description %}
            <br>
            {{ match.description }}
        {% endif %}
    </li>
    {% endfor %}
</ul>
<p>
    <i class='icon-arrow-right'></i>
    <a href='{{ response.more_url }}'>See {% if response.count_total > 1 %} all {% endif %}{{ response.count_total|intcomma }} match{{ response.count_total|pluralize:"es" }}</a>
</p>
</hr>
{% endif %}
