{% load humanize %}
<script>
    $( document ).ready(function() {
        var x = parseInt($('#expand_size').val(),10);
        if ((y = $('#databases li').size() - x) == 1) { 
            $('#next-database-results').text('Next Database'); 
        } else if ((y = $('#databases li').size() - x) < 5) { 
            $('#next-database-results').text('Next '+y+' Databases'); 
        } else { 
            $('#next-database-results').text('Next 5 Databases'); 
        }
    });
</script>
{% if response.matches %}
<ul id='databases' class='unstyled'>
    {% for match in response.matches %}
    <li class='database {% if forloop.counter > 3 %}remainder{% endif %}'
        {% if forloop.counter > 3 %}style='display:none;'{% endif %}>
        <a href='{{ match.url }}' title='{{ match.name }}' onclick="window.open(this.href); return false;">
            {{ match.name|truncatechars:context.TITLE_DISPLAY_LENGTH }}
        </a>
        <p id="partialdescriptioni{{ forloop.counter }}">
            {{ match.description|truncatechars:context.DESCRIPTION_DISPLAY_LENGTH }}
            <a  onclick="$('#partialdescriptioni{{ forloop.counter }}').hide();$('#completedescription{{ forloop.counter }}').show()">more</a>
        </p>
        <p id="completedescription{{ forloop.counter }}" style="display:none">
            {{ match.description }}
            <a  onclick="$('#partialdescriptioni{{ forloop.counter }}').show();$('#completedescription{{ forloop.counter }}').hide()">less</a>    
        </p>
    </li>
    {% endfor %}
</ul>
{% if response.count_total > 3 %}
<p id='show-remainder'>
    <i class='icon-arrow-right'></i>
    <a id="next-database-results" onclick="var x = parseInt($('#expand_size').val(),10); x = (x + 5 < $('#databases li').size()) ? x+5 : $('#databases li').size();$('#expand_size').val(x);$('#databases li:lt('+x+')').delay(250).show(500);if( (y = $('#databases li').size() - x) < 5){ $('#next-database-results').text('Next '+y+' Databases'); }else { $('#next-database-results').text('Next 5 Databases'); };if( x == $('#databases li').size()){ $('#show-remainder').hide();}"></a>
</p>

<p class='x remainder'>
    <i class='icon-arrow-right'></i>
    <a href='{{ response.more_url }}' onclick="window.open(this.href); return false;">See all {{response.count_total|intcomma}} databases</a>
</p>
{% endif %}
{% else %}
<p>
    <em>No matching database titles or descriptions found.  Please browse <a href='{{ response.more_url_plain }}' onclick="window.open(this.href); return false;">Databases by subject.</a>
    </em>
</p>
{% endif %}
<input id='expand_size' type='hidden' value='3' />
