{% load humanize %}

{% if response.matches %}
<ul id='databases' class='unstyled'>
    {% for match in response.matches %}
    <li class='database'>
        <a href='{{ match.url }}' title='{{ match.name }}'>
            {{ match.name|truncatechars:context.TITLE_DISPLAY_LENGTH }}
        </a>
        <p>
            {{ match.description|truncatechars:context.DESCRIPTION_DISPLAY_LENGTH }}
        </p>
    </li>
    {% endfor %}
</ul>
    {% if response.count_total != 1 %}
<p>
    <i class='icon-arrow-right'></i>
    <a href='{% url 'databases_html' %}?q={{response.q}}&count=0'>See {% if response.count_total > 1 %} all {% endif %}{{ response.count_total|intcomma }} database{{ response.count_total|pluralize:"es" }}</a>
</p>
    {% endif %}
{% else %}
<p>
    <i>No databases found.  Please browse <a href='{{ response.more_url_plain }}'>Database Titles.</a>
    </i>
</p>
{% endif %}

