{% load humanize %}

{% if response.matches %}
<ul id='databases' class='unstyled'>
    {% for match in response.matches %}
    <li class='database {% if forloop.counter > 3 %}remainder{% endif %}'
        {% if forloop.counter > 3 %}style='display:none;'{% endif %}>
        <a href='{{ match.url }}' title='{{ match.name }}' onclick="window.open(this.href); return false;">
            {{ match.name|truncatechars:context.TITLE_DISPLAY_LENGTH }}
        </a>
        <p>
            {{ match.description|truncatechars:context.DESCRIPTION_DISPLAY_LENGTH }}
        </p>
    </li>
    {% endfor %}
</ul>
    {% if response.count_total > 3 %}
<p class='x remainder' style='display:none;'>
    <i class='icon-arrow-right'></i>
    <a href='{{ response.more_url }}' onclick="window.open(this.href); return false;">See all {{response.count_total|intcomma}} databases</a>
</p>
<p id='show-remainder'>
    <i class='icon-arrow-right'></i>
    <a onclick="$('#show-remainder').hide(200);$('.remainder').delay(250).show(500);">More databases</a>
</p>
    {% endif %}
{% else %}
<p>
    <em>No matching database titles or descriptions found.  Please browse <a href='{{ response.more_url_plain }}' onclick="window.open(this.href); return false;">Databases by subject.</a>
    </em>
</p>
{% endif %}

