{% extends "base.html" %}

{% block styles_extra %}
<style type='text/css'>
    div .left-border {
        padding-left: 1em;
        border-left: 1px #ddd solid;
        }
</style>
{% endblock %}

{% block javascript_extra %}
<script type='text/javascript'>
$(document).ready(function () {
    var q = $('input[name=q]');
    var data = {q: q.val()};

    function fetch(vals) {
        $.ajax({
            type: "GET",
            url: vals[0],
            data: data
        }).done(function(resp) {
            $(vals[1]).html(resp);
        });
    };

    var blocks = [
        ["{% url 'articles_html' %}", '#articles-response'],
        ["{% url 'databases_html' %}", '#databases-response'],
        ["{% url 'databases_solr_html' %}", '#databases-solr-response'],
        ["{% url 'summon_books_media_html' %}", '#summon-books-response'],
        ["{% url 'journals_html' %}", '#journals-response'],
        ["{% url 'journals_solr_html' %}", '#journals-solr-response'],
        ["{% url 'libsite_html' %}", '#libsite-response'],
        ["{% url 'research_guides_html' %}", '#guides-response'],
        ["{% url 'launchpad_html' %}", '#launchpad-response'],
    ];
    blocks.forEach(fetch);
});
</script>
{% endblock javascript_extra %}

{% block content %}
<h3>GW Libraries Search - everything / testing</h3>

<div id='form'>
    <form action='{% url "everything" %}' method='GET' class='form-search'>
        <fieldset>
            <input id='q' type='text' size='40' name='q' placeholder='Search...' value='{{ q }}' class='input-large search-query' />
            <input type='submit' class='btn' value='go'/>
        </fieldset>
    </form>
</div>

{% if q %}
<div id='results' class='row-fluid'>
    <div id='articles-databases' class='span4'>
        <h4>Articles</h4>
        <div id='articles-response' class='row-fluid'>
            <div class='span2 progress progress-striped active'>
                <div class='bar' style='width: 100%;'></div>
            </div>
        </div>
        <hr />
        <h4>Databases</h4>
        <div id='databases-response' class='row-fluid'>
            <div class='span2 progress progress-striped active'>
                <div class='bar' style='width: 100%;'></div>
            </div>
        </div>
        <hr />
        <h4>Databases - solr</h4>
        <div id='databases-solr-response' class='row-fluid'>
            <div class='span2 progress progress-striped active'>
                <div class='bar' style='width: 100%;'></div>
            </div>
        </div>
    </div>
    <div id='books-journals' class='span4 left-border'>
        <h4>Books &amp; Media (Summon)</h4>
        <div id='summon-books-response' class='row-fluid'>
            <div class='span2 progress progress-striped active'>
                <div class='bar' style='width: 100%;'></div>
            </div>
        </div>
        <hr />
        <h4 class='separate-top'>Journals</h4>
        <div id='journals-response' class='row-fluid'>
            <div class='span2 progress progress-striped active'>
                <div class='bar' style='width: 100%;'></div>
            </div>
        </div>
        <hr />
        <h4 class='separate-top'>Journals - solr</h4>
        <div id='journals-solr-response' class='row-fluid'>
            <div class='span2 progress progress-striped active'>
                <div class='bar' style='width: 100%;'></div>
            </div>
        </div>
    </div>
    <div id='website-other' class='span4 left-border'>
        <h4>Library Website</h4>
        <div id='libsite-response' class='row-fluid'>
            <div class='span2 progress progress-striped active'>
                <div class='bar' style='width: 100%;'></div>
            </div>
        </div>
        <hr />
        <h4>Research Guides</h4>
        <div id='guides-response' class='row-fluid'>
            <div class='span2 progress progress-striped active'>
                <div class='bar' style='width: 100%;'></div>
            </div>
        </div>
        <hr />
        <h4>Launchpad</h4>
        <div id='launchpad-response' class='row-fluid'>
            <div class='span2 progress progress-striped active'>
                <div class='bar' style='width: 100%;'></div>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock content %}
