{% extends "base.html" %}

{% block content %}
<h1>hi</h1>

<div id='form'>
    <form action='{% url "home" %}' method='GET'>
        <input type='text' size='40' name='q' value='{{ q }}' />
        <input type='submit' value='go'/>
    </form>
</div>

<div id='results'>
    <div id='aquabrowser'>
        <h2>aquabrowser</h2>
        {% with aquabrowser_response as response %}
            {% include "aquabrowser.html" %}
        {% endwith %}
    </div>
    <div id='databases'>
        <h2>databases</h2>
        {% with databases_response as response %}
            {% include "databases.html" %}
        {% endwith %}
    </div>
</div>

{% endblock content %}
