{% extends "base.html" %}

{% block styles_extra %}
<style type='text/css'>
    div .left-border {
        padding-left: 1em;
        border-left: 1px #ddd solid;
        }
</style>
{% endblock %}

{% block javascript_extra %}
<script type='text/javascript'>
(function($) {
var data = {};
var load_page_count=0
var searchid=0;

$(document).ready(function (){
    var query = window.location.search.substring(1);
    var vars = query.split("&");
    for (var i=0;i<vars.length;i++) {
        var pair = vars[i].split("=");
        if(pair[0] == 'q'){
            pair[1] = pair[1].replace(/\+/g, ' ');
            data['q'] =  decodeURIComponent(pair[1]);
        }

        if(pair[0] == 'ignoresearch'){
            data[pair[0]] = pair[1] ? (pair[1]).toLowerCase() : 'false';
        }

        if(pair[0] == 'count'){
            if(pair[1] != 0 && /^\d+$/.test(pair[1])){
                data[pair[0]] = pair[1];
            }
        }

    }

    var save_data_url = "{% url 'save_data' %}";
    function save_query(save_data_url){
        $.ajax({
            type: "GET",
            url: save_data_url,
            data: data
            }).done(function(resp){
                var info = JSON.parse(resp);
                data['searchid'] = info.searchid;
                load_bento_boxes();
        });
    };
    save_query(save_data_url);
});

function load_bento_boxes(){
    function fetch(vals) {
        $.ajax({
            type: "GET",
            url: vals[0],
            data: data
         }).done(function(resp) {
                $(vals[1]).html(resp);
        });
    };

    var blocks = [
        ["{% url 'best_bets_html' %}", '#bestbets-response'],
        ["{% url 'articles_html' %}", '#articles-response'],
        ["{% url 'databases_solr_html' %}", '#databases-solr-response'],
        ["{% url 'books_media_html' %}", '#books-response'],
        ["{% url 'journals_solr_html' %}", '#journals-solr-response'],
        ["{% url 'libsite_html' %}", '#libsite-response'],
        ["{% url 'research_guides_html' %}", '#guides-response'],
    ];
    for (var i=0; i < blocks.length; i++) {
        fetch(blocks[i]);
    }
  }
})(jQuery);
</script>
{% endblock javascript_extra %}

{% block content %}
<h3>GW Libraries Search</h3>

<div id='form'>
    <form action='{% url "home" %}' method='GET' class='form-search'>
        <fieldset>
            <input id='q' type='text' size='40' name='q' placeholder='Search...' value='{{ q }}' class='input-large search-query' autocomplete='off' autocorrect='off' autocapitalize='off' spellcheck='false' />
            <input type='submit' class='btn' value='go'/>
        </fieldset>
    </form>
    <div id='dym-dev' style='margin-left: 13px;padding-top: 0; padding-bottom: 0.6em'></div>
</div>

{% if q %}
<div id='results' class='row-fluid'>
    <div id='bestbets-articles-databases' class='span4'>
        <h4 id='bestbets-title' style='display:none;'>Best Bets</h4>
        <div id='bestbets-response' class='row-fluid'>
            <div class='span2 progress progress-striped active'>
                <div class='bar' style='width: 100%;'></div>
            </div>
        </div>
        <h4>Articles</h4>
        <div id='articles-response' class='row-fluid'>
            <div class='span2 progress progress-striped active'>
                <div class='bar' style='width: 100%;'></div>
            </div>
        </div>
        <hr />
        <h4>Databases</h4>
        <div id='databases-solr-response' class='row-fluid'>
            <div class='span2 progress progress-striped active'>
                <div class='bar' style='width: 100%;'></div>
            </div>
        </div>
        <hr class="mobile-show-720" />
    </div>
    <div id='books-journals' class='span4 left-border'>
        <h4>Books &amp; Media</h4>
        <div id='books-response' class='row-fluid'>
            <div class='span2 progress progress-striped active'>
                <div class='bar' style='width: 100%;'></div>
            </div>
        </div>
        <hr />
        <h4 class='separate-top'>Journals</h4>
        <div id='journals-solr-response' class='row-fluid'>
            <div class='span2 progress progress-striped active'>
                <div class='bar' style='width: 100%;'></div>
            </div>
        </div>
        <hr class="mobile-show-720" />
    </div>
    <div id='website-other' class='span4 left-border'>
        <h4>Library Website</h4>
        <div id='libsite-response' class='row-fluid'>
            <div class='span2 progress progress-striped active'>
                <div class='bar' style='width: 100%;'></div>
            </div>
        </div>
        <hr />
        <h4>Research Guides</h4>
        <div id='guides-response' class='row-fluid'>
            <div class='span2 progress progress-striped active'>
                <div class='bar' style='width: 100%;'></div>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock content %}
