{% load humanize %}

{% if response.matches %}
<ul id='journals' class='unstyled'>
    {% for match in response.matches %}
    <li>
        <a href='{{ match.url }}' title='{{ match.title }}'>
            {{ match.title }}
        </a>
        <p>
            {{ match.description }}
        </p>
    </li>
    {% endfor %}
</ul>
<p>
    <i class='icon-arrow-right'></i>
    <a href='{{ response.more_url }}'>See all {{ response.count_total|intcomma }} journal{{ response.count_total|pluralize }}</a>
</p>
{% else %}
<p>
    <i>No journal titles found.  Please try another search in <a href='{{ response.more_url_plain }}'>Journal Titles.</a>
    </i>
</p>
{% endif %}
