{% load humanize %}
<script>
    (function($) {
    $( document ).ready(function() {
        var x = parseInt($('#expand_size_j').val(),10);
        if ((y = $('#journals li').size() - x) == 1) { 
            $('#next-journal-results').text('Next Journal'); 
        } else if ((y = $('#journals li').size() - x) < 5) { 
            $('#next-journal-results').text('Next '+y+' Journals'); 
        } else { 
            $('#next-journal-results').text('Next 5 Journals'); 
        }
    });

    function NextLinkJ(){
        var x = parseInt($('#expand_size_j').val(),10);
        x = (x + 5 < $('#journals li').size()) ? x+5 : $('#journals li').size();
        $('#expand_size_j').val(x);
        $('#journals li:lt('+x+')').delay(250).show(500);
        if( (y = $('#journals li').size() - x) < 5){
            $('#next-journal-results').text('Next '+y+' Journals'); 
        }
        else{
            $('#next-journal-results').text('Next 5 Journals');
        }
        if( x == $('#journals li').size()){
            $('#show-remainder-journals').hide();
        }
    }
    	
    document.getElementById("next-journal-results").addEventListener("click", NextLinkJ);
	
  })(jQuery);  
</script>
                                                                
{% if response.matches %}
<ul id='journals' class='unstyled'>
    {% for match in response.matches %}
    <li class='journal {% if forloop.counter > 3 %}remainder-journals{% endif %}'
        {% if forloop.counter > 3 %}style='display:none;'{% endif %}>
        <a href='{{ match.url }}' title='{{ match.title }}' onclick="window.open(this.href); return false;">
            {{ match.title|truncatechars:context.TITLE_DISPLAY_LENGTH }}
        </a>
        <p>
            {{ match.description }}
        </p>
    </li>
    {% endfor %}
</ul>
{% if response.count_total > 3 %}
<p id='show-remainder-journals'>
    <i class='icon-arrow-right'></i>
    <a id='next-journal-results' onclick=NextLinkJ(); style="cursor: pointer;">Next 5 Journals</a>
</p>
<p class='x remainder-journals'>
    <i class='icon-arrow-right'></i>
    <a href='{{ response.more_url }}' onclick="window.open(this.href); return false;">See all {{response.count_total|intcomma}} journals</a>
</p>
{% endif %}
{% else %}
<p>
    <em>No journal titles found.  Please try another search in <a href='{{ response.more_url_plain }}' onclick="window.open(this.href); return false;">Journal Titles.</a>
    </em>
</p>
{% endif %}
<input id='expand_size_j' type='hidden' value='3' />

