{% load humanize %}

{% if response.matches %}
<ul id='journals' class='unstyled'>
    {% for match in response.matches %}
    <li>
        <a href='{{ match.url }}' title='{{ match.title }}' onclick="window.open(this.href); return false;">
            {{ match.title|truncatechars:context.TITLE_DISPLAY_LENGTH }}
        </a>
        <p>
            {{ match.description }}
        </p>
    </li>
    {% endfor %}
</ul>
{% if response.count_total > 3 %}
<p>
    <i class='icon-arrow-right'></i>
    <a href='{{ response.more_url }}' onclick="window.open(this.href); return false;">See all journals</a>
</p>
{% endif %}
{% else %}
<p>
    <i>No journal titles found.  Please try another search in <a href='{{ response.more_url_plain }}' onclick="window.open(this.href); return false;">Journal Titles.</a>
    </i>
</p>
{% endif %}
