{% load humanize %}

{% if response.matches %}
<ul id='books-media' class='unstyled'>
    {% for match in response.matches %}
    <li class='item'>
        <a href='{{ match.url }}' title='{{ match.name }}' onclick="window.open(this.href); return false;">
            {{ match.name|truncatechars:context.TITLE_DISPLAY_LENGTH }}
        </a>
        <p>
        {% if match.author %}
            {{ match.author|truncatechars:context.AUTHOR_DISPLAY_LENGTH }}
            <br>
        {% endif %}
        {% if match.publisher %}
            {{ match.publisher }}
            <br>
        {% endif %}
        {% if match.edition %}
            {{ match.edition }}
            <br>
        {% endif %}
        {% if match.institutions %}
            {{ match.institutions }}
            <br>
        {% endif %}
        </p>
    </li>
    {% endfor %}
</ul>
{% if response.count_total > 3 %}
<p>
    <i class='icon-arrow-right'></i>
    <a href='{{ response.more_url }}' onclick="window.open(this.href); return false;">See all matches</a>
</p>
{% endif %}
{% else %}
<p>
    <em>No books or media results found.  Please try another search in the <a href='{{ response.more_url_plain }}' onclick="window.open(this.href); return false;">catalog.</a>
    </em>
</p>
{% endif %}
