{% load humanize %}

{% if response.matches %}
<ul id='libsite' class='unstyled'>
    {% for match in response.matches %}
    <li>
    <a href={{ response.result_url }}{{ match.view_node }}/ onclick="window.open(this.href); return false;">
            {{ match.title|truncatechars:context.TITLE_DISPLAY_LENGTH }}
        </a>
        <p>
            {{ match.description }}
        </p>
    </li>
    {% endfor %}
</ul>
{% if response.count_total > 3 %}
<p>
    <i class='icon-arrow-right'></i>
    <a href='{{ response.more_url }}' onclick="window.open(this.href); return false;">See all matches</a>
</p>
{% endif %}
{% else %}
<p>
    <em>No library website results found.  Please try another search at <a href='{{ response.more_url_plain }}' onclick="window.open(this.href); return false;">Library Website Search.</a>
    </em>
</p>
{% endif %}
