{% load humanize %}
{% load staticfiles %}

{% if response.matches %}
<ul id='summon' class='unstyled'>
    {% for match in response.matches %}
    <li class='item'>
        <a href='{{ match.url }}' title='{{ match.name }}'>
            {{ match.name|truncatechars:context.TITLE_DISPLAY_LENGTH }}
        </a>
        <p>
        {% if match.author %}
            {{ match.author }}
            <br>
        {% endif %}
        {% if match.publicationtitle %}
            <i>{{ match.publicationtitle }}</i>, {{ match.publicationyear }}
            <br>
        {% elif response.scope != 'research_guides' %}
            {% if match.publicationplace %}
                {{ match.publicationplace }} :
            {% endif %}
            {% if match.publicationyear %}
                {{ match.publicationyear }}.
            {% endif %}
            {% if match.publisher %}
                {{ match.publisher }}
            {% endif %}
            {% if match.institution %}
            <br>
                {{ match.institution }}
            {% endif %}
            {% if match.LCCallNum %}
            <br>
                {{ match.LCCallNum }}
            {% endif %}
        {% endif %}
        {% if match.hasFullText and response.scope != 'research_guides' %}
            <img src="{% static "img/pdf.gif" %}" alt="Full Text Available Online" title="Full Text Available Online"/> Full Text Online
         {% endif %}
        </p>
    </li>
    {% endfor %}
</ul>
    {% if response.count_total > 3 %}
    <p>
        <i class='icon-arrow-right'></i>
        <a href='{{ response.more_url }}'>See all matches</a>
    </p>
    {% endif %}
{% else %}
<p>
    <i>No articles found.  Please try another search in <a href='{{ response.more_url_plain }}'>ArticlesPlus.</a>
    </i>
</p>
{% endif %}
