{% load humanize %}

{% if response.matches %}
<ul id='summon' class='unstyled'>
    {% for match in response.matches %}
    <li class='item'>
        <a href='{{ match.url }}' title='{{ match.name }}'>
            {{ match.name|truncatechars:context.TITLE_DISPLAY_LENGTH }}
        </a>
        <p>
            {% if match.description %}
            {{ match.description }}
            <br>
            {% endif %}
            {% if match.publicationtitle %}
            <i>{{ match.publicationtitle }}</i>, {{ match.publicationyear }}
            {% endif %}
        </p>
    </li>
    {% endfor %}
</ul>
<p>
    <i class='icon-arrow-right'></i>
    <a href='{{ response.more_url }}'>See all {{ response.count_total|intcomma }} match{{ response.count_total|pluralize:"es" }}</a>
</p>
{% else %}
<p>
    <i>No articles found.  Please try another search in <a href='{{ response.more_url_plain }}'>ArticlesPlus.</a>
    </i>
</p>
{% endif %}
