{% load humanize %}

{% if response.matches %}
<ul id='summon' class='unstyled'>
    {% for match in response.matches %}
    <li class='item'>
        <a href='{{ match.url }}' title='{{ match.name }}'>
            {{ match.name }}
        </a>
        <p>
            {{ match.description }}
        </p>
    </li>
    {% endfor %}
</ul>
<p>
    <i class='icon-arrow-right'></i>
    <a href='{{ response.more_url }}'>See all {{ response.count_total|intcomma }} match{{ response.count_total|pluralize:"es" }}</a>
</p>
{% endif %}
